* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vt323', monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #000;
}

.cobrinha {
  width: 300px;
  display: grid;
  justify-content: center;
  padding: 10px;
}

.score {
  color: #05001e;   
  font-family: 'VT323', monospace;
  font-size: xx-large;
}

.high-score {
  color: #05001e;
  font-family: 'VT323', monospace;
  font-size: xx-large;
}

.wrapper {
  width: 60vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #E6A376;
}

.game-details {
  color: #60B37F;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #b1ffa4e2;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background: #E54D4B;
}

.play-board .head {
  background: #60B37F;
}

.play-board .body {
  background: #60B37F;
}


@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }

  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }

  .controls {
    display: flex;
  }

  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
